@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg{
    @apply bg-gradient-to-br from-violet to-blue;
}
.text-white{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.border{
    border: 5px solid #000;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card-img{
    height: 250px;
    width: auto;
}